.dashboard-container {
  text-align: center;
  margin-top: 100px;
}

.dashboard-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dashboard-container p {
  font-size: 1.2rem;
  color: #555;
}